button.social {
width: 43px;
height: 43px;
border: none;

font-size: 0.8rem;
color: var(--clr-light-base);
background-color: var(--clr-primary-base--8);

cursor: pointer;
}

button.social.facebook:hover {
    background-color: #4267B2;
}
button.social.twitter:hover {
    background-color: #1DA1F2;
}
button.social.behance:hover {
    background-color: #053EFF;
}
button.social.dribbble:hover {
    background-color: #ea4c89;
}