.main-footer{
    gap: 2.125rem;
    
    padding-block: 80px;
    border-block-start: 1px solid var(--clr-primary-base--8);
    
    background-color: var(--clr-primary-base--9);
    
}

.main-footer>*{
    justify-self: center
}

.main-footer ul {
    gap: 4px;
}

.main-footer ul li {
    font-size: 0.8125rem;
    color: var(--clr-primary-base--5);
    text-shadow: 0 0 0.8px var(--clr-primary-base--5);
    letter-spacing: 0.5px;
    font-weight: 400;
}

.main-footer .social-btns {
    gap: 18px;
}